@media screen and (max-width: 450px) {
    .nav-item-container,
    .banner-section,
    .online-game-img-content,
    .nav-container,
    .play-container
    {
        flex-direction: column;
        row-gap: 20px;
    }
    .logo-item-container{
        margin: 0 auto;
    }
    .nav-container{
        width: 100%;
        margin: auto 0;
        text-align: center;
    }

    .play-main-img{
        padding: 0;
        margin: 0 auto;
    }
    .play-content{
        text-align: center;
        margin-top: 40vh;
        width: 100%;
    }

    #icon-section{
        display: none;
    }

    footer{
        margin-top: 70vh;
        width: 100%;
    }


}




@media screen and (min-width: 451px) and (max-width: 992px) {
    .nav-container,
    .nav-item-container,
    .banner-section
    {
        flex-direction: column;
        row-gap: 15px;
    }

    .online-game-img-content{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 25px;
    }
}